@using EmployeeCare.Resources;
@{
    ViewBag.Title = ar.employees;
}
<div class="modal fade" id="manage_employee_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-6">
                                <label>@ar.name</label>
                                <input required name="name" id="name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.code</label>
                                <input required name="code" id="code" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.destination</label>
                                @Html.DropDownList("destination_id", new SelectList(ViewBag.destinations, "id", "name"), ar.select_destination, new { @class = "form-control", @name = "destination_id", @id = "destination_id", @required = "required" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.document_number</label>
                                <input required name="employee_file_number" id="employee_file_number" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.grade</label>
                                @Html.DropDownList("grade_id", new SelectList(ViewBag.grades, "id", "name"), ar.select_grade, new { @class = "form-control", @name = "grade_id", @id = "grade_id", @required = "required" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.national_id</label>
                                <input name="national_id" id="national_id" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.email</label>
                                <input name="email" id="email" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.employee_status</label>
                                <select class="form-control" name="status" id="status">
                                    <option value="1">@ar.in_service</option>
                                    <option value="2">@ar.end_of_service</option>
                                    <option value="3">@ar.dead</option>
                                    <option value="4">@ar.pension</option>
                                    <option value="5">@ar.filtering</option>
                                    <option value="6">@ar.deputation</option>
                                    <option value="7">@ar.leave_without_pay</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label>@ar.membership_status</label>
                                <select class="form-control" name="membership_status" id="membership_status">
                                    <option value="1">@ar.member_only</option>
                                    <option value="2">@ar.member_and_subscription</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.bank_account_number</label>
                                <input name="bank_account_number" id="bank_account_number" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.bank</label>
                                @Html.DropDownList("bank_id", new SelectList(ViewBag.banks, "id", "name"), ar.select_bank, new { @class = "form-control", @name = "bank_id", @id = "bank_id" })
                            </div>
                            <div class="form-group col-md-12">
                                <label>@ar.status</label>
                                <select class="form-control" name="active" id="active">
                                    <option value="1">@ar.active</option>
                                    <option value="2">@ar.inactive</option>
                                </select>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">@ar.Close</button>
                    <button type="submit" class="btn btn-primary">@ar.Save_changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="manage_employee_files_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-6">
                                <label>@ar.files</label>
                                <input required name="files" id="files" type="file" multiple class="form-control radius-30" />
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">@ar.Close</button>
                    <button type="submit" class="btn btn-primary">@ar.Save_changes</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="row">
        <div class="form-group col-4">
            @Html.DropDownList("search_destination_id", new SelectList(ViewBag.destinations, "id", "name"), ar.select_destination, new { @class = "form-control", @name = "search_destination_id", @id = "search_destination_id" })
        </div>
        <div class="form-group col-4">
            @Html.DropDownList("search_grade_id", new SelectList(ViewBag.grades, "id", "name"), ar.select_grade, new { @class = "form-control", @name = "search_grade_id", @id = "search_grade_id" })
        </div>
        <div class="form-group col-4">
            <select class="form-control" name="search_status" id="search_status">
                <option value="">@ar.employee_status</option>
                <option value="1">@ar.in_service</option>
                <option value="2">@ar.end_of_service</option>
                <option value="3">@ar.dead</option>
                <option value="4">@ar.pension</option>
                <option value="5">@ar.filtering</option>
                <option value="6">@ar.deputation</option>
                <option value="7">@ar.leave_without_pay</option>
            </select>
        </div>
        <div class="form-group col-4">
            <select class="form-control" name="search_membership_status" id="search_membership_status">
                <option value="" ">@ar.membership_status</option>
                <option value="1">@ar.member_only</option>
                <option value="2">@ar.member_and_subscription</option>
            </select>
        </div>
        <div class="form-group col-4">
            @Html.DropDownList("search_bank_id", new SelectList(ViewBag.banks, "id", "name"), ar.select_bank, new { @class = "form-control", @name = "search_bank_id", @id = "search_bank_id" })
        </div>
        <div class="form-group col-4">
            <input class="form-control" type="text" id="document_number" name="document_number" placeholder="@ar.document_number">
        </div>
        <div class="form-group col-4">
            <input class="form-control" type="text" id="text_search" name="text_search" placeholder="@ar.search">
        </div>
        <div class="form-group col-2">
            <button id="search" class="btn btn-primary px-3 radius-30">@ar.search</button>
        </div>
        <div class="form-group col-2">
            <button id="reset" class="btn btn-danger px-3 radius-30">@ar.reset</button>
        </div>

    </div>

    <div class="card">
        <div class="card-header">
            <a class="dropdown-item" id="add_employee" data-value="<span>Show</span> : @ar.add_employee" href="javascript:void(0);"><i class="fa fa-plus"></i> @ar.add_employee</a>

        </div>
        <div class="card-body">

            <div class="widget-content widget-content-area br-6">
                <table id="employees_table" class="table dt-table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@ar.name</th>
                            <th>@ar.destination</th>
                            <th>@ar.info</th>
                            <th>@ar.date</th>
                            <th>@ar.archive_documens</th>
                            <th class="no-content"></th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script>
       $(document).ready(function () {

           var datatable = $('#employees_table')
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "language": {
                        "sEmptyTable": "ليست هناك بيانات متاحة في الجدول",
                        "sLoadingRecords": "جارٍ التحميل...",
                        "sProcessing": "جارٍ التحميل...",
                        "sLengthMenu": "أظهر _MENU_ مدخلات",
                        "sZeroRecords": "لم يعثر على أية سجلات",
                        "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                        "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                        "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                        "sInfoPostFix": "",
                        "sSearch": "ابحث:",
                        "sUrl": "",
                        "oPaginate": {
                            "sFirst": "الأول",
                            "sPrevious": "السابق",
                            "sNext": "التالي",
                            "sLast": "الأخير"
                        },
                        "oAria": {
                            "sSortAscending": ": تفعيل لترتيب العمود تصاعدياً",
                            "sSortDescending": ": تفعيل لترتيب العمود تنازلياً"
                        }
                    },
                    "ajax": {
                        "url": "@Url.Action("Index", "Employee")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "id",
                            "searchable": true
                        },
                        {
                            "data": "name", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                html += "<b>" + oData.name + "</b>"+ "<br>";
                                if (oData.national_id)
                                    html += "<small>"+'@ar.national_id'+': ' + oData.national_id + "</small><br>";
                                if (oData.code)
                                    html += "<small>" + '@ar.code' + ': ' + oData.code + "</small><br>";
                                if (oData.employee_file_number)
                                    html += "<small>" + '@ar.document_number' + ': ' + oData.employee_file_number + "</small><br>";
                                if (oData.grade_name)
                                    html += "<small>" + '@ar.grade' + ': ' + oData.grade_name + "</small><br>";

                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "destination_name",
                            "searchable": true
                        },
                        {
                            "data": "status", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                if (oData.employee_status) {
                                    html += "@ar.employee_status" + ": ";
                                    if (oData.employee_status == 1)
                                        html += "@ar.in_service";
                                    else if (oData.employee_status == 2)
                                        html += "@ar.end_of_service";
                                    else if (oData.employee_status == 3)
                                        html += "@ar.dead";
                                    else if (oData.employee_status == 4)
                                        html += "@ar.pension";
                                    else if (oData.employee_status == 5)
                                        html += "@ar.filtering";
                                    else if (oData.employee_status == 6)
                                        html += "@ar.deputation";
                                    else if (oData.employee_status == 7)
                                        html += "@ar.leave_without_pay";
                                    html += "<br>";
                                }

                                if (oData.membership_status) {
                                    html += "@ar.membership_status" + ": ";
                                    if (oData.membership_status == 1)
                                        html += "@ar.member_only";
                                    else if (oData.membership_status == 2)
                                        html += "@ar.member_and_subscription";
                                    html += "<br>";
                                }
                                if (oData.bank_name)
                                    html += "@ar.bank" + ": " + oData.bank_name + "<br>";
                                if (oData.bank_account_number)
                                    html += "@ar.bank_account_number" + ": " + oData.bank_account_number;

                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "string_created_at", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                var date = new Date(oData.string_created_at);
                                var months = ["يناير", "فبراير", "مارس", "إبريل", "مايو", "يونيو",
                                    "يوليو", "أغسطس", "سبتمبر", "أكتوبر", "نوفمبر", "ديسمبر"
                                ];
                                var days = ["اﻷحد", "اﻷثنين", "الثلاثاء", "اﻷربعاء", "الخميس", "الجمعة", "السبت"];
                                var delDateString = days[date.getDay()] + ', ' + date.getDate() + ' ' + months[date.getMonth()] + ', ' + date.getFullYear();
                                html += delDateString;
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "archivesPaths", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                if (oData.archivesPaths) {
                                    var counter = 1;
                                    oData.archivesPaths.forEach(function (value) {
                                        var ext = value.substr(value.lastIndexOf('.') + 1);
                                        var currentFileName = counter;
                                        html += "<a href='" + value +"' target='_blank' style='text-decoration:underline;color:blue;direction: ltr;'>" + currentFileName + "</a> ,";
                                        counter++;
                                    });
                                    html = html.substring(0, html.length - 1);
                                }
                                else
                                    html += "<span class='badge badge-danger'>@ar.no_archive_documens</span>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";

                                html += "<a class='edit' href='javascript:void(0)' title='@ar.edit'><i class='far fa-edit'></i></a>&nbsp;";
                                html += "<a class='delete' href='javascript:void(0)' title='@ar.delete'><i class='fas fa-trash'></i></a>&nbsp";
                                html += "<a class='upload_files' href='javascript:void(0)' title='@ar.files'><i class='fas fa-file-upload'></i></a>&nbsp";
                                html += "<a href='/Employee/Documents/"+oData.id+"' title='@ar.employee_documents'><i class='fas fa-file-alt'></i></a>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                datatable.columns(0).search($("#search_destination_id").val());
                datatable.columns(1).search($("#search_grade_id").val());
                datatable.columns(2).search($("#search_status").val());
                datatable.columns(3).search($("#search_membership_status").val());
                datatable.columns(4).search($("#search_bank_id").val());
                datatable.columns(5).search($("#document_number").val());

                datatable.draw();
            });

           $('#text_search').on('keyup', function (e) {
               if (e.keyCode == 13)
                   $('#search_button').trigger('click');
           });

           $('#reset').on('click', function () {
               $("#text_search").val("");
               $("#search_destination_id").val("");
               $("#search_grade_id").val("");
               $("#search_status").val("");
               $("#search_membership_status").val("");
               $("#search_bank_id").val("");
               $("#document_number").val("");

                $('#search').trigger('click');

            });


           $("#add_employee").click(function () {
               var modal = $('#manage_employee_modal').clone();
                var action = '@Url.Action("saveEmployee", "Employee")';
               modal.find('form').attr('action', action);
               modal.find('#modal_title').text('@ar.add_employee');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {

                        datatable.draw()

                }, function (response) {

                }, function (dialog) {

                });
            });

            $(document).on("click", ".edit", function () {
                var data = datatable.row($(this).closest('tr')).data();
                var modal = $('#manage_employee_modal').clone();
                var action = '@Url.Action("saveEmployee", "Employee")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('@ar.edit_employee');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        dialog.find('#id').val(data.id);
                        dialog.find('#name').val(data.name);
                        dialog.find('#code').val(data.code);
                        dialog.find('#destination_id option[value=' + data.destination_id + ']').attr('selected', 'selected');                        dialog.find('#name').val(data.name);
                        dialog.find('#employee_file_number').val(data.employee_file_number);
                        dialog.find('#grade_id option[value=' + data.grade_id + ']').attr('selected', 'selected');
                        dialog.find('#national_id').val(data.national_id);
                        dialog.find('#email').val(data.email);
                        dialog.find('#status option[value=' + data.status + ']').attr('selected', 'selected');
                        dialog.find('#membership_status option[value=' + data.membership_status + ']').attr('selected', 'selected');
                        dialog.find('#bank_account_number').val(data.bank_account_number);
                        dialog.find('#bank_id option[value=' + data.bank_id + ']').attr('selected', 'selected');
                        dialog.find('#active option[value=' + data.active + ']').attr('selected', 'selected');
                  });
            });

            $(document).on("click", ".delete", function () {
                var data = datatable.row($(this).closest('tr')).data();
                warningBox("@ar.delete_confirmation (<b>" + data.name +"</b>) ؟", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("deleteEmployee", "Employee")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": data.id },
                        datatype: "json",
                        success: function (data) {
                            datatable.draw();
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });
           
           $(document).on("click", ".upload_files", function () {
               var data = datatable.row($(this).closest('tr')).data();
               var modal = $('#manage_employee_files_modal').clone();
                var action = '@Url.Action("saveEmployeeArchive", "Employee")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('@ar.add_to_archive');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        dialog.find('#id').val(data.id);
                  });
            });
        });

    </script>
}