@using EmployeeCare.Resources;
@{
    ViewBag.Title = ar.payment_forms_tasfya;
}
<div class="modal fade" id="manage_payment_forms_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <input type="hidden" name="type" id="type" value="2" />
                            <div class="form-group col-md-6">
                                <label>@ar.employees</label>
                                @Html.DropDownList("employee_id", new SelectList(ViewBag.employees, "id", "name"), ar.select_employee, new { @class = "form-control", @name = "employee_id", @id = "employee_id", @required = "required" })
                            </div>
                            <div class="form-group col-md-6" id="employee_document_div">
                                <label>@ar.documents</label>
                                <select id="employee_document_id" name="employee_document_id" class="form-control">
                                    <option value="">@ar.select_document</option>
                                </select>
                            </div>
                            @*<div class="form-group col-md-6">
            <label>@ar.last_installment</label>
            @Html.DropDownList("decision_id", new SelectList(ViewBag.decisions, "id", "title"), ar.select_decision, new { @class = "form-control", @name = "decision_id", @id = "decision_id", @required = "required" })
        </div>*@
                            <div class="form-group col-md-6">
                                <label>@ar.last_installment</label>
                                <input type="text" name="last_installment" id="last_installment" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.reason_est7kak</label>
                                <input type="text" name="reason_est7kak" id="reason_est7kak" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.subscription_date</label>
                                <input type="date" name="subscription_date" id="subscription_date" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.date_est7kak</label>
                                <input type="date" name="date_est7kak" id="date_est7kak" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.collected_installments</label>
                                <input type="number" name="collected_installments" id="collected_installments" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.record_no</label>
                                <input type="number" name="record_no" id="record_no" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.record_date</label>
                                <input type="date" name="record_date" id="record_date" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.details</label>
                                <input type="text" name="details" id="details" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.notes</label>
                                <input type="text" name="notes" id="notes" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>@ar.approval_status</label>
                                <select name="approval_status" id="approval_status" class="form-control">
                                    <option value="1">@ar.ongoing_approve</option>
                                    <option value="2">@ar.approved</option>
                                    @*<option value="3">@ar.paid_off</option>*@
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">@ar.Close</button>
                    <button type="submit" class="btn btn-primary">@ar.Save_changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="row">
        <div class="form-group col-4">
            <input class="form-control" type="text" id="text_search" name="text_search" placeholder="@ar.search">
        </div>
        <div class="form-group col-2">
            <button id="search" class="btn btn-primary px-3 radius-30">@ar.search</button>
        </div>
        <div class="form-group col-2">
            <button id="reset" class="btn btn-danger px-3 radius-30">@ar.reset</button>
        </div>

    </div>

    <div class="card">
        <div class="card-header">
            <a class="dropdown-item" id="add_payment_form" data-value="<span>Show</span> : @ar.add_payment_form" href="javascript:void(0);"><i class="fa fa-plus"></i> @ar.add_payment_form</a>

        </div>
        <div class="card-body">

            <div class="widget-content widget-content-area br-6">
                <table id="payment_forms_table" class="table dt-table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>@ar.id</th>
                            <th>@ar.employee_name</th>
                            <th>@ar.payment_form_date</th>
                            <th>@ar.document_name</th>
                            <th>@ar.dates</th>
                            <th class="no-content"></th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script>
       $(document).ready(function () {

           var datatable = $('#payment_forms_table')
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "language": {
                        "sEmptyTable": "ليست هناك بيانات متاحة في الجدول",
                        "sLoadingRecords": "جارٍ التحميل...",
                        "sProcessing": "جارٍ التحميل...",
                        "sLengthMenu": "أظهر _MENU_ مدخلات",
                        "sZeroRecords": "لم يعثر على أية سجلات",
                        "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                        "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                        "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                        "sInfoPostFix": "",
                        "sSearch": "ابحث:",
                        "sUrl": "",
                        "oPaginate": {
                            "sFirst": "الأول",
                            "sPrevious": "السابق",
                            "sNext": "التالي",
                            "sLast": "الأخير"
                        },
                        "oAria": {
                            "sSortAscending": ": تفعيل لترتيب العمود تصاعدياً",
                            "sSortDescending": ": تفعيل لترتيب العمود تنازلياً"
                        }
                    },
                    "ajax": {
                        "url": "@Url.Action("Index", "PaymentFormTasfya")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "id",
                            "searchable": true
                        },
                        {
                            "data": "employee_name",
                            "searchable": true
                        },
                        {
                            "data": "string_created_at", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {

                                var html = "-";
                                if (oData.string_created_at) {
                                    var date = new Date(oData.string_created_at);
                                    var months = ["يناير", "فبراير", "مارس", "إبريل", "مايو", "يونيو",
                                        "يوليو", "أغسطس", "سبتمبر", "أكتوبر", "نوفمبر", "ديسمبر"
                                    ];
                                    var days = ["اﻷحد", "اﻷثنين", "الثلاثاء", "اﻷربعاء", "الخميس", "الجمعة", "السبت"];
                                    var delDateString = days[date.getDay()] + ', ' + date.getDate() + ' ' + months[date.getMonth()] + ', ' + date.getFullYear();
                                    html = delDateString;
                                }

                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "document_name",
                            "searchable": true
                        },
                        {
                            "data": "date_est7kak", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = '';
                                var htmlSubscription = "-";
                                var htmlEst7kak = "-";
                                if (oData.string_subscription_date) {
                                    var date = new Date(oData.string_subscription_date);
                                    var months = ["يناير", "فبراير", "مارس", "إبريل", "مايو", "يونيو",
                                        "يوليو", "أغسطس", "سبتمبر", "أكتوبر", "نوفمبر", "ديسمبر"
                                    ];
                                    var days = ["اﻷحد", "اﻷثنين", "الثلاثاء", "اﻷربعاء", "الخميس", "الجمعة", "السبت"];
                                    var delDateString = days[date.getDay()] + ', ' + date.getDate() + ' ' + months[date.getMonth()] + ', ' + date.getFullYear();
                                    htmlSubscription = delDateString;
                                }
                                if (oData.string_date_est7kak) {
                                    var date = new Date(oData.string_date_est7kak);
                                    var months = ["يناير", "فبراير", "مارس", "إبريل", "مايو", "يونيو",
                                        "يوليو", "أغسطس", "سبتمبر", "أكتوبر", "نوفمبر", "ديسمبر"
                                    ];
                                    var days = ["اﻷحد", "اﻷثنين", "الثلاثاء", "اﻷربعاء", "الخميس", "الجمعة", "السبت"];
                                    var delDateString = days[date.getDay()] + ', ' + date.getDate() + ' ' + months[date.getMonth()] + ', ' + date.getFullYear();
                                    htmlEst7kak = delDateString;
                                }
                                html += '@ar.subscription_date' + " :" +htmlSubscription+"<br/>";
                                html += '@ar.date_est7kak' + " :" + htmlEst7kak;
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";

                                html += "<a class='edit' href='javascript:void(0)' title='@ar.edit'><i class='far fa-edit'></i></a>&nbsp;";
                                html += "<a class='delete' href='javascript:void(0)' title='@ar.delete'><i class='fa fa-trash'></i></a>&nbsp;";
                                html += "<a href='/PaymentFormTasfya/View/"+oData.id+"' title='@ar.payment_form_view'><i class='fa fa-eye'></i></a>&nbsp;";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");

                $('#search').trigger('click');

            });


           $("#add_payment_form").click(function () {
               var modal = $('#manage_payment_forms_modal').clone();
                var action = '@Url.Action("savePaymentForm", "PaymentFormTasfya")';
               modal.find('form').attr('action', action);
               modal.find('#modal_title').text('@ar.add_payment_form');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {

                        datatable.draw()

                }, function (response) {

                }, function (dialog) {
                        dialog.find('#employee_id').change(function () {
                            dialog.find('#employee_document_id').remove();
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getEmployeeDocuments", "Employee")',
                                contentType: "application/json; charset=utf-8",
                                data: { "id": $(this).val() },
                                datatype: "json",
                                success: function (data) {
                                    var html = ` <select id="employee_document_id" name="employee_document_id" class="form-control">
                                                  <option value="">@ar.select_document</option>`
                                    data.employeeDocuments.forEach(function (value) {
                                        html += "<option value='" + value.id+"'>" + value.document_name + "</option>";
                                    });
                                    html += "</select>";
                                    dialog.find('#employee_document_div').append(html);

                                    //console.log(data.employeeDocuments);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });
                        });

                        $(document).on('change','#employee_document_id', function () {

                            console.log($(this).val())
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getEmployeeDocumentByID", "Employee")',
                                contentType: "application/json; charset=utf-8",
                                data: { "id": $(this).val() },
                                datatype: "json",
                                success: function (data) {
                                    console.log(data)
                                    if (data.employeeDocument) {
                                        if (data.employeeDocument.subscription_date) {
                                            var value = new Date
                                                (
                                                    parseInt(data.employeeDocument.subscription_date.replace(/(^.*\()|([+-].*$)/g, ''))
                                                );
                                            var subscription_date = value.getFullYear() +
                                                "-" +
                                                ("0" + (value.getMonth() + 1)).slice(-2) +
                                                "-" +
                                                ("0" + value.getDate()).slice(-2)
                                                ;
                                            dialog.find('#subscription_date').val(subscription_date);
                                        }
                                    }
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });
                        });
                });
            });

            $(document).on("click", ".edit", function () {
                var data = datatable.row($(this).closest('tr')).data();
                console.log(data);
                var modal = $('#manage_payment_forms_modal').clone();
                var action = '@Url.Action("savePaymentForm", "PaymentFormTasfya")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('@ar.edit_payment_form');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.draw();

                }, function (response) {

                }, function (dialog) {

                        dialog.find('#employee_id').change(function () {
                            dialog.find('#employee_document_id').remove();
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getEmployeeDocuments", "Employee")',
                                contentType: "application/json; charset=utf-8",
                                data: { "id": $(this).val() },
                                datatype: "json",
                                success: function (data) {
                                    var html = ` <select id="employee_document_id" name="employee_document_id" class="form-control">
                                                  <option value="">@ar.select_document</option>`
                                    data.employeeDocuments.forEach(function (value) {
                                        html += "<option value='" + value.id+"'>" + value.document_name + "</option>";
                                    });
                                    html += "</select>";
                                    dialog.find('#employee_document_div').append(html);
                                    console.log(data.employeeDocuments);
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });
                        });

                        dialog.find('#id').val(data.id);
                        dialog.find('#employee_id option[value=' + data.employee_id + ']').attr('selected', 'selected');
                        dialog.find('#employee_document_id').remove();
                        var empdocid = data.employee_document_id;
                        $.ajax({
                                type: "GET",
                                url: '@Url.Action("getEmployeeDocuments", "Employee")',
                                contentType: "application/json; charset=utf-8",
                                data: { "id": data.employee_id },
                                datatype: "json",
                                success: function (data) {
                                    var html = ` <select id="employee_document_id" name="employee_document_id" class="form-control">
                                                  <option value="">@ar.select_document</option>`
                                    data.employeeDocuments.forEach(function (value) {
                                        if (value.id == empdocid)
                                            html += "<option selected value='" + value.id + "'>" + value.document_name + "</option>";
                                        else
                                            html += "<option value='" + value.id + "'>" + value.document_name + "</option>";
                                    });
                                    html += "</select>";
                                    dialog.find('#employee_document_div').append(html);

                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                        });

                         $(document).on('change','#employee_document_id', function () {

                            console.log($(this).val())
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getEmployeeDocumentByID", "Employee")',
                                contentType: "application/json; charset=utf-8",
                                data: { "id": $(this).val() },
                                datatype: "json",
                                success: function (data) {
                                    console.log(data)
                                    if (data.employeeDocument) {
                                        if (data.employeeDocument.subscription_date) {
                                            var value = new Date
                                                (
                                                    parseInt(data.employeeDocument.subscription_date.replace(/(^.*\()|([+-].*$)/g, ''))
                                                );
                                            var subscription_date = value.getFullYear() +
                                                "-" +
                                                ("0" + (value.getMonth() + 1)).slice(-2) +
                                                "-" +
                                                ("0" + value.getDate()).slice(-2)
                                                ;
                                            dialog.find('#subscription_date').val(subscription_date);
                                        }
                                    }
                                },
                                error: function () {
                                    //alert("Dynamic content load failed.");
                                }
                            });
                        });


                        dialog.find('#approval_status option[value=' + data.approval_status + ']').attr('selected', 'selected');

                        dialog.find('#record_no').val(data.record_no);
                        dialog.find('#collected_installments').val(data.collected_installments);
                        dialog.find('#reason_est7kak').val(data.reason_est7kak);
                        dialog.find('#last_installment').val(data.last_installment);
                        dialog.find('#details').val(data.details);
                        dialog.find('#notes').val(data.notes);

                        if (data.subscription_date != null) {
                            var value = new Date
                                (
                                    parseInt(data.subscription_date.replace(/(^.*\()|([+-].*$)/g, ''))
                                );
                            var subscription_date = value.getFullYear() +
                                "-" +
                                ("0" + (value.getMonth() + 1)).slice(-2) +
                                "-" +
                                ("0" + value.getDate()).slice(-2)
                                ;
                            dialog.find('#subscription_date').val(subscription_date);
                        }
                        if (data.date_est7kak != null) {
                            var value = new Date
                                (
                                    parseInt(data.date_est7kak.replace(/(^.*\()|([+-].*$)/g, ''))
                                );
                            var date_est7kak = value.getFullYear() +
                                "-" +
                                ("0" + (value.getMonth() + 1)).slice(-2) +
                                "-" +
                                ("0" + value.getDate()).slice(-2)
                                ;
                            dialog.find('#date_est7kak').val(date_est7kak);
                        }
                        if (data.record_date != null) {
                            var value = new Date
                                (
                                    parseInt(data.record_date.replace(/(^.*\()|([+-].*$)/g, ''))
                                );
                            var record_date = value.getFullYear() +
                                "-" +
                                ("0" + (value.getMonth() + 1)).slice(-2) +
                                "-" +
                                ("0" + value.getDate()).slice(-2)
                                ;
                                dialog.find('#record_date').val(record_date);
                        }
                });

            });

            $(document).on("click", ".delete", function () {
                var data = datatable.row($(this).closest('tr')).data();
                warningBox("@ar.delete_confirmation (<b>" + data.employee_name   +"</b>) ؟", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("deletePaymentForm", "PaymentFormTasfya")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": data.id },
                        datatype: "json",
                        success: function (data) {
                            datatable.draw();
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

        });

    </script>
}